body{
}

div{
  background-color:red;
  height: 10em;
  width: 10em;

}


.floatR {
  float:right;
  width: 6em;
  height: 6em;
  background-image: url(../img/images.png);
  background-size:100% 100%;
  margin: 0 0 1em 1em;
}

.floatL {
  float: left;
  width: 6em;
  height: 6em;
  background-image:url(../img/images.png);
  background-size:100% 100%;
  margin: 0 1em 1em 0;
}


.capitular{
  float: left;
  margin: 0 0.5em 0.5em 0;
  background-image: url(../img/navidad.jpg);
  background-size:100% 100%;
  width: 2.8em;
  height:2.5em;
}

h3{
  clear: both;
}
}
h2{
  clear: both;
}

span{
  color:red;
}

.columna{
  width: 40%;
  margin: 0 5%;
  background-color:orange;
}

.esquerra{
  float: left;
}

.dreta{
  float: right;
}
