@media screen and (max-width:750px){
  body{
    padding: 0;
    margin: 0;
    background:#9CD1BA ;
    display:flex;
    flex-direction:column;
    min-height:100vh;
  }
  #preloader{
    background:#9CD1BA url(images/loader.png) no-repeat center center;
    background-size:30%;
    height:100%;
    width:100%;
    position:fixed;
    z-index:100;
  }
/*----------video y calendario----------------*/
  .vica{
    width: 100%;
    height: 50px;
    background:;
    margin: 0 auto;
  }

.vica h1{
      font-family:'Montserrat', sans-serif;
      font-size: 30px;
      text-align: center;
      margin:20px 20px 25px 18px;
    }
  /*---------CATEGORIAS----------------*/


  h1{
    font-family:'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
    margin:20px 20px 25px 18px;
  }

  .fotoperfil{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: ;
    margin-left: 10px;
    margin-top: 10px;
    background-image: url(images/yo.webp);
    background-repeat:no-repeat;
    background-size: cover;

  }

  .retos{
    width: 500px;
    height: 140px;
    background: white;
    margin: 0 auto;
    margin-top:30px;
    border-radius: 20px;
  }
.configuracio{
  width: 500px;
  height: 440px;
  background:white ;
  margin: 0 auto;
  margin-top:30px;
  list-style: none;
}
  .configuracio .botones{
    width: 500px;
    height: 57px;
    background: #c4c4c4;
    margin: 0 auto;
    box-shadow: 10px 5px 5px grey;
  }
  .configuracio h1{
  color:black;
  }

.configuracio .botones a{
  text-decoration: none;
  list-style: none;
}

.configuracio #contra{
  margin-top:10px;
}
.configuracio #noti{
  margin-top:30px;
}
.configuracio #eliminar{
  margin-top:30px;
}
/*----------menu fijo----------------*/
.menu{
  height: 50px;
  list-style: none;
  display:flex;
  justify-content: space-around;
  background: white;
  margin-top: 0 auto;
  z-index: 100vh;

}

.menu li a{
  text-decoration: none;
  color:black;
  position: fixed
  padding:15px;
  display:block;
}

.inicio{
  height: 40px;
  width: 40px;
  margin-top:5px;
  margin-left: -40px;
  background-image: url(images/casa.png);
  background-repeat:no-repeat;
  background-size: cover;
}

.inicio:hover{
  opacity: 50%;
  transition:1s;
}

.amigos{
  height: 35px;
  width: 44px;
  background:;
  margin-top:6px;
  background-image: url(images/amigos.png);
  background-repeat:no-repeat;
  background-size: cover;
}
.amigos:hover{
  opacity: 50%;
  transition:1s;
}
.muntanya{
  height: 40px;
  width: 60px;
  background:;
  margin-top:6px;
  background-image: url(images/munta.png);
  background-repeat:no-repeat;
  background-size: cover;
}

.muntanya:hover{
  opacity: 50%;
  transition:1s;
}

.perfil{
  height: 40px;
  width: 40px;
  background:;
  margin-top:5px;
  background-image: url(images/perfil.png);
  background-repeat:no-repeat;
  background-size: cover;
}
.perfil:hover{
  opacity: 50%;
  transition:1s;
}
}
