*{
    padding: 0;
    margin: 0;
    /*box-sizing: border-box;*/
}
body{
    background: #e0e0e0;
    max-width: 100%;
    margin:0 auto;
    background-image: url(luz.jpg);
    flex-direction: column;
    justify-content: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black;
    max-width: 100%;
}
.logo{
  background: ;
  width: 110px;
  height: 50px;
}

nav{
    font-family: 'Montserrat', sans-serif;
    background-color:black;
}
p{
    font-weight: 600;
    margin-left:60px;
    font-size: 20px;
    color: #b246f2;
    font-family: 'Noto Serif Display', serif;
}
button{
    width: 48px;
    height: 40px;
    background-color:;
    transition: all 0.3s ease 0s;
    border-radius: 17px;
    border:1.5px solid #b246f2;
    background-image: url(perfil.png);
    background-repeat:no-repeat;
    background-size: cover;
}

li{
    display: inline-block;
    padding: 5px 30px;
    cursor: pointer;
    background:;
    color:white;
    transition: all 0.3s ease 0s;
}
nav li:hover{
    background-color:;
    color:#b246f2;
    transition: all 0.6s linear;

}
.intro{
  width: 1085px;
  margin: 0 auto;
  background:;
  height: 120px;
  font-size: 90px;
  text-align: center;
  font-family: 'Noto Serif Display', serif;
  letter-spacing:-2px;
  color: #00ffff;
}


.letra{
  width: 1085px;
  margin: 0 auto;
  background:;
  height: 1700px;
  font-size: 30px;
  text-align: center;
  font-family: 'Noto Serif Display', serif;
  list-style: none;
}
a:link, a:visited, a:active {
    text-decoration:none;
      list-style: none;
}
h1{
  background:;
  margin-top: 320px;
  font-size: 20px;
  color:#00ffff;
}

.examen{
  background:#e0e0e0;
  width: 330px;
  height: 300px;
  float: left;
  margin-left:20px;
  margin-top: 20px;
  background-image: url(captura1.png);
  background-repeat:no-repeat;
  background-size: cover;
  border:2px solid #00ffff;
}
.examen:hover{
  background:black;
  opacity: 60%;
  width:330px;
  height:300px;
  transition: all 0.3s linear;
  background-image: url(https://media0.giphy.com/media/26n6CWImwECKu3fy0/giphy.gif?cid=ecf05e47ys03y71mks1c8h8rcp5bix7zgjaqkiy25aev0amg&rid=giphy.gif&ct=g);
  background-repeat:no-repeat;
  background-size: cover;
}
.horario{
  background:#e0e0e0;
  width: 330px;
  height: 300px;
  float: left;
  margin-left:20px;
  margin-top: 20px;
  background-image: url(2.png);
  background-repeat:no-repeat;
  background-size: cover;
  border:2px solid #00ffff;
}
.horario:hover{
  background:black;
  opacity: 60%;
  width:330px;
  height:300px;
  transition: all 0.3s linear;
  background-image: url(https://media0.giphy.com/media/26n6CWImwECKu3fy0/giphy.gif?cid=ecf05e47ys03y71mks1c8h8rcp5bix7zgjaqkiy25aev0amg&rid=giphy.gif&ct=g);
  background-repeat:no-repeat;
  background-size: cover;
}
.prova{
  background:#e0e0e0;
  width: 330px;
  height: 300px;
  float: left;
  margin-left:20px;
  margin-top: 20px;
  border:2px solid #00ffff;
  background-image: url(3.png);
  background-repeat:no-repeat;
  background-size: cover;
}
.prova:hover{
  background:black;
  opacity: 60%;
  width:330px;
  height:300px;
  transition: all 0.3s linear;
  background-image: url(https://media0.giphy.com/media/26n6CWImwECKu3fy0/giphy.gif?cid=ecf05e47ys03y71mks1c8h8rcp5bix7zgjaqkiy25aev0amg&rid=giphy.gif&ct=g);
  background-repeat:no-repeat;
  background-size: cover;
}
.feedly{
  background:#e0e0e0;
  width: 330px;
  height: 300px;
  float: left;
  margin-left:20px;
  margin-top: 80px;
  border:2px solid #00ffff;
  background-image: url(4.png);
  background-repeat:no-repeat;
  background-size: cover;
}
.feedly:hover{
  background:black;
  opacity: 60%;
  width:330px;
  height:300px;
  transition: all 0.3s linear;
  background-image: url(https://media0.giphy.com/media/26n6CWImwECKu3fy0/giphy.gif?cid=ecf05e47ys03y71mks1c8h8rcp5bix7zgjaqkiy25aev0amg&rid=giphy.gif&ct=g);
  background-repeat:no-repeat;
  background-size: cover;
}
.comic{
  background:#e0e0e0;
  width: 330px;
  height: 300px;
  float: left;
  margin-left:20px;
  margin-top: 80px;
  border:2px solid #00ffff;
  background-image: url(5.png);
  background-repeat:no-repeat;
  background-size: cover;
}
.comic:hover{
  background:black;
  opacity: 60%;
  width:330px;
  height:300px;
  transition: all 0.3s linear;
  background-image: url(https://media0.giphy.com/media/26n6CWImwECKu3fy0/giphy.gif?cid=ecf05e47ys03y71mks1c8h8rcp5bix7zgjaqkiy25aev0amg&rid=giphy.gif&ct=g);
  background-repeat:no-repeat;
  background-size: cover;
}
.floata{
  background:#e0e0e0;
  width: 330px;
  height: 300px;
  float: left;
  margin-left:20px;
  margin-top: 80px;
  border:2px solid #00ffff;
  background-image: url(6.png);
  background-repeat:no-repeat;
  background-size: cover;
}
.floata:hover{
  background:black;
  opacity: 60%;
  width:330px;
  height:300px;
  transition: all 0.3s linear;
  background-image: url(https://media0.giphy.com/media/26n6CWImwECKu3fy0/giphy.gif?cid=ecf05e47ys03y71mks1c8h8rcp5bix7zgjaqkiy25aev0amg&rid=giphy.gif&ct=g);
  background-repeat:no-repeat;
  background-size: cover;
}
.floatb{
  background:#e0e0e0;
  width: 330px;
  height: 300px;
  float: left;
  margin-left:20px;
  margin-top: 80px;
  border:2px solid #00ffff;
  background-image: url(7.png);
  background-repeat:no-repeat;
  background-size: cover;
}
.floatb:hover{
  background:black;
  opacity: 60%;
  width:330px;
  height:300px;
  transition: all 0.3s linear;
  background-image: url(https://media0.giphy.com/media/26n6CWImwECKu3fy0/giphy.gif?cid=ecf05e47ys03y71mks1c8h8rcp5bix7zgjaqkiy25aev0amg&rid=giphy.gif&ct=g);
  background-repeat:no-repeat;
  background-size: cover;
}
.floatc{
  background:#e0e0e0;
  width: 330px;
  height: 300px;
  float: left;
  margin-left:20px;
  margin-top: 80px;
  border:2px solid #00ffff;
  background-image: url(8.png);
  background-repeat:no-repeat;
  background-size: cover;
}
.floatc:hover{
  background:black;
  opacity: 60%;
  width:330px;
  height:300px;
  transition: all 0.3s linear;
  background-image: url(https://media0.giphy.com/media/26n6CWImwECKu3fy0/giphy.gif?cid=ecf05e47ys03y71mks1c8h8rcp5bix7zgjaqkiy25aev0amg&rid=giphy.gif&ct=g);
  background-repeat:no-repeat;
  background-size: cover;
}
.escacs{
  background:#e0e0e0;
  width: 330px;
  height: 300px;
  float: left;
  margin-left:20px;
  margin-top: 80px;
  border:2px solid #00ffff;
  background-image: url(9.png);
  background-repeat:no-repeat;
  background-size: cover;
}
.escacs:hover{
  background:black;
  opacity: 60%;
  width:330px;
  height:300px;
  transition: all 0.3s linear;
  background-image: url(https://media0.giphy.com/media/26n6CWImwECKu3fy0/giphy.gif?cid=ecf05e47ys03y71mks1c8h8rcp5bix7zgjaqkiy25aev0amg&rid=giphy.gif&ct=g);
  background-repeat:no-repeat;
  background-size: cover;
}
.aplicacio{
  background:#e0e0e0;
  width: 330px;
  height: 300px;
  float: left;
  margin-left:20px;
  margin-top: 80px;
  border:2px solid #00ffff;
  background-image: url(10.png);
  background-repeat:no-repeat;
  background-size: cover;
}
.aplicacio:hover{
  background:black;
  opacity: 60%;
  width:330px;
  height:300px;
  transition: all 0.3s linear;
  background-image: url(https://media0.giphy.com/media/26n6CWImwECKu3fy0/giphy.gif?cid=ecf05e47ys03y71mks1c8h8rcp5bix7zgjaqkiy25aev0amg&rid=giphy.gif&ct=g);
  background-repeat:no-repeat;
  background-size: cover;
}
.floreta{
  background:#e0e0e0;
  width: 330px;
  height: 300px;
  float: left;
  margin-left:20px;
  margin-top: 80px;
  border:2px solid #00ffff;
  background-image: url(11.png);
  background-repeat:no-repeat;
  background-size: cover;
}
.floreta:hover{
  background:black;
  opacity: 60%;
  width:330px;
  height:300px;
  transition: all 0.3s linear;
  background-image: url(https://media0.giphy.com/media/26n6CWImwECKu3fy0/giphy.gif?cid=ecf05e47ys03y71mks1c8h8rcp5bix7zgjaqkiy25aev0amg&rid=giphy.gif&ct=g);
  background-repeat:no-repeat;
  background-size: cover;
}
.retrat{
  background:#e0e0e0;
  width: 330px;
  height: 300px;
  float: left;
  margin-left:20px;
  margin-top: 80px;
  border:2px solid #00ffff;
  background-image: url(12.png);
  background-repeat:no-repeat;
  background-size: cover;
}
.retrat:hover{
  background:black;
  opacity: 60%;
  width:330px;
  height:300px;
  transition: all 0.3s linear;
  background-image: url(https://media0.giphy.com/media/26n6CWImwECKu3fy0/giphy.gif?cid=ecf05e47ys03y71mks1c8h8rcp5bix7zgjaqkiy25aev0amg&rid=giphy.gif&ct=g);
  background-repeat:no-repeat;
  background-size: cover;
}
.examencorre{
  background:#e0e0e0;
  width: 330px;
  height: 300px;
  float: left;
  margin-left:20px;
  margin-top: 80px;
  border:2px solid #00ffff;
  background-image: url(captura1.png);
  background-repeat:no-repeat;
  background-size: cover;
}
.examencorre:hover{
  background:black;
  opacity: 60%;
  width:330px;
  height:300px;
  transition: all 0.3s linear;
  background-image: url(https://media0.giphy.com/media/26n6CWImwECKu3fy0/giphy.gif?cid=ecf05e47ys03y71mks1c8h8rcp5bix7zgjaqkiy25aev0amg&rid=giphy.gif&ct=g);
  background-repeat:no-repeat;
  background-size: cover;
  border:2px solid #00ffff;
}
