*{
    padding: 0;
    margin: 0;
    /*box-sizing: border-box;*/
    color: white;
}
body{
    /*display: flex;*/
    background-color: #b246f2;
    flex-direction: column;
    justify-content: center;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /*margin: 0 20px;deja margen de arriba
    margin-bottom: 130px; deja margen de abajo*/
    background-color: black;
    max-width: 100%;
}
.logo{
  background: ;
  width: 110px;
  height: 50px;
}
nav{
    font-family: 'Montserrat', sans-serif;
    background-color:black;
}
p{
    font-weight: 600;
    margin-left:60px;
    font-size: 20px;
    color: #b246f2;
    font-family: 'Noto Serif Display', serif;
}
button{
    width: 48px;
    height: 40px;
    background-color:;
    transition: all 0.3s ease 0s;
    border-radius: 17px;
    border:1.5px solid #b246f2;
    background-image: url(perfil.png);
    background-repeat:no-repeat;
    background-size: cover;
}

li{
    display: inline-block;
    padding: 5px 30px;
    cursor: pointer;
    background:;
    transition: all 0.3s ease 0s;
}
nav li:hover{
    background-color:;
    color:#b246f2;
    transition: all 0.6s linear;
}
.portada{
  max-width:100%;
  height: 1000px;
  background:;
  margin: 0 auto;
  background-image: url(lila.jpg);
  background-repeat:no-repeat;
  background-size: cover;
}

h1{
  max-width:100%;
  padding:15px;
  margin: 0 auto;
  font-family: 'Goldman', cursive;
  letter-spacing:-2px;
  color:#fff;
  background:;
  text-align: center;
  font-size: 150px;
}
.portada h1{
  top: 220px;
  position: relative;
}
h5{
  max-width:100%;
  padding:1px 10px;
  margin: 0 auto;
  font-family: 'Noto Serif Display', serif;
  letter-spacing:-2px;
  color:#b246f2;
  background:;
  text-align: center;
  font-size: 40px;
}
.portada h5{
  top: 155px;
  position: relative;
}

.portada h6{
  top: 70px;
  position: relative;
}
.ufs{
  width:100%;
  height:380px;
  background:;
  background: linear-gradient(rgba(5,7,12,0.75), rgba(5,7,12,0.75));
  margin: 0 auto;
  margin-top: -500px;
}
.guay{
  font-size: 100px;
  width: 1510px;
  height: 375px;
  margin:0 auto;
  text-align: center;
  margin-top: -340px;
  font-family: 'Goldman', cursive;
}
.guay li{
  padding:80px 10px;
}
.caja{
  color:#b246f2;
  background:black;
  width:300px;
  height:300px;
  float: left;
  margin:0 auto;
  border:1px solid #b246f2;
  margin-left: 60px;
}
.caja:hover{
  background: #b246f2;
  width:300px;
  height:300px;
  transition: all 0.6s linear;
}
.caja1{
  background: black;
  width:300px;
  height:300px;
  float: left;
  border:1px solid #b246f2;
  margin-left: 60px;
}
.caja1:hover{
  background: #b246f2;
  width:300px;
  height:300px;
  transition: all 0.6s linear;
}
.caja2{
  background: black;
  width:300px;
  height:300px;
  float: left;
  border:1px solid #b246f2;
  margin-left: 60px;
}
.caja2:hover{
  background: #b246f2;
  width:300px;
  height:300px;
  transition: all 0.6s linear;
}
.caja3{
  background: black;
  width:300px;
  height:300px;
  float: left;
  border:1px solid #b246f2;
  margin-left: 60px;
}
.caja3:hover{
  background: #b246f2;
  width:300px;
  height:300px;
  transition: all 0.6s linear;
}
.cuadrado{
  width: 1520px;
  height:1000px;
  margin: 0 auto;
  margin-top: 85px;
  background:black;
}
h2{
  font-weight: 600;
  margin-left:60px;
  font-size: 60px;
  padding: 40px 0px;
  color: #b246f2;
  background:;
  font-family: 'Noto Serif Display', serif;
}
.slider-frame {
	width: 900px;
  height: 500px;
	margin:50px auto 0;
	overflow: hidden;
  background: ;
}

.slider-frame ul {
	display: flex;
	width: 400%;
  padding: 7px;
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}

	25% {margin-left: -100%;}
	45% {margin-left: -100%;}

	50% {margin-left: -200%;}
	70% {margin-left: -200%;}

	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
.mando{
  width: 1200px;
  margin: 0 auto;
  background:;
  height: 756px;
  background-image: url(MANDO.png);
  background-repeat:no-repeat;
  background-size: cover;
  margin-left:160px;
  margin-top: 350px;
}
.yo{
  width: 1520px;
  height:1500px;
  margin: 0 auto;
  margin-top: 10px;
  background:black;
}
.intro{
  background: pink;
    width: 65px;
    height: 65px;
    float: right;
    margin-right: 210px;
    margin-top: -53px;
    border-radius: 50%;
    border:1px solid #b246f2;
}
.intro:active{
  background: pink;
    width: 200px;
    height: 180px;
    float:right;
    margin-right:500px;
    margin-top: -630px;
    border-radius: 50%;
    border:1px solid #b246f2;
    background-image: url(perfil.png);
    background-repeat:no-repeat;
    background-size: cover;
    opacity: 100%;
}

h4{
  color:white;
  width: 1100px;
  height: 200px;
  float: left;
  margin-left: 210px;
  margin-top: 150px;
  font-size: 22px;
  font-family: 'Noto Serif Display', serif;
  font-style: oblique;
  text-align: center;
  background:;
}
h3{
  color:white;
  width: 1100px;
  height: 200px;
  float: left;
  margin-left: 210px;
  margin-top: -10px;
  font-size: 22px;
  font-family: 'Noto Serif Display', serif;
  font-style: oblique;
  text-align: center;
  background:;
}
