*{
    padding: 0;
    margin: 0;
    /*box-sizing: border-box;*/
    color:black;
}
body{
    /*display: flex;*/
    background-color: white;
    flex-direction: column;
    justify-content: center;
}
/*------------------------BARRA DE ARRIBA-----------------------*/

@media screen and (min-width:851px){
  body{
      /*display: flex;*/
      background-color: white;
      flex-direction: column;
      justify-content: center;
  }
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /*margin: 0 20px;deja margen de arriba
    margin-bottom: 130px; deja margen de abajo*/
    background-color:white;
    max-width: 100%;
}

.logo{
  background-image: url(climby.png);
  background-repeat:no-repeat;
  background-size: cover;
  width: 93px;
  height: 77px;
  margin-left:20px;
}

li{
    display: inline-block;
    padding: 5px 30px;
    cursor: pointer;
    background:;
    transition: all 0.3s ease 0s;
}

nav li:hover{
    background-color:;
    color:#9CD1BA;
    transition: all 0.6s linear;
}
nav{
  font-size: 16px;
    font-family:'Montserrat', sans-serif;
    background-color:;


}
/*------------------------PRIMERA CAJA (FOTO GRANDE)-----------------------*/
.caja{
  width: 100%;
  height: 800px;
}

.slider-frame {
	width: 100%;
  height: 800px;
	overflow: hidden;
}

.slider-frame ul {
	display:flex;
	width: 400%;
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
  margin: 0;
  padding: 0;
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
  height: 800px;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}

	25% {margin-left: -100%;}
	45% {margin-left: -100%;}

	50% {margin-left: -200%;}
	70% {margin-left: -200%;}

	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/*---------------------------------INTRODUCCIÓN----------------------------*/
.lema{
  width: 2200px;
  height: 480px;
  background:white;
  margin:0 auto;
  margin-top: 90px;
}

.frase{
  width: 700px;
  height: 480px;
  float:left;
  margin-left:40px;
  background:;
  font-family: 'Montserrat', sans-serif;
  color:white;
}
.montain{
  width: 650px;
  height: 480px;
  background:;
  float:left;
  margin-left:80px;
  background-image:url(montain.png);
  background-repeat:no-repeat;
  background-size: cover;
}

h1{
  color:#9CD1BA;
  font-family: 'Montserrat', sans-serif;
  padding:1rem;
  background:;
}

h2{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  line-height: 35px;
  padding:1rem;
  text-align: justify;
  background:;
}
/*------------------------GAUDEIX DE CLIMBY-----------------------*/
.mobile{
  width: 100%;
  height: 922px;
  background: #9CD1BA;
  margin:0 auto;
  margin-top: 90px;
}

.gaudeix{
  background:;
  height: 120px;
  width: 100%;
}
h4{
  font-size: 80px;
  font-family: 'Montserrat', sans-serif;
  align-items:center;
  text-align: center;
  color:#9CD1BA;
  background:;
}
.mobile h4{
  color:white;
  padding: 5rem;
  background: ;
}
.mobile h3{
  color:white;
  background:;
  margin-top: 80px;
}

h3{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  align-items:center;
  display:flex;
  justify-content: center;
  text-align: center;
  /*padding:1rem;*/
  background:;
  line-height: 35px;
}

.movil{
  width: 980px;
  height: 210px;
  margin:0 auto;
  background:;
  margin-top: -35px;
  padding: 16rem;
  background-image:url(mobiel.png);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}
/*--------------------------------CATEGORIAS-----------------------------*/
.actividades{
  width: 1425px;
  height: 700px;
  background:;
  margin:0 auto;
  margin-top: 90px;
}

.cate{
  background:;
  height: 120px;
  width: 100%;
}

.actividades .cuadro{
    width: 412px;
    height:410px;
    margin:10px;
    background:;
    float: left;
    margin-top:20px;
    background-size: cover;
    background:;
}
.actividades #uno{
   margin-left: 40px;
   background-image: url(retos.png);
}
.actividades #dos{
   margin-left: 40px;
   background-image: url(PLANS.png);
}
.actividades #tres{
   margin-left: 40px;
   background-image: url(jocs.png);
   background-repeat:no-repeat;
   background-size: cover;
   background-position: center;
}

.actividades .cuadro:hover{
  transform:rotateX(360deg);
  transition:1s;
}

#uno:hover{
  background-image: url(reptesi.png);
}
#dos:hover{
  background-image: url(plansi.png);
}
#tres:hover{
  background-image: url(jocsi.png);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}
/*------------------------ESCALA AL CIM DE TOT-----------------------*/
.escala{
  width: 1425px;
  height: 1050px;
  margin:0 auto;
  margin-top: 90px;
  background:;
}
.muntanya{
  width: 520px;
  height: 500px;
  background: ;
  margin:0 auto;
  background-image:url(montain.png);
  background-repeat:no-repeat;
  background-size: cover;
}
.escala .moneda{
    width: 150px;
    height:150px;
    margin:10px;
    background:;
    float: left;
    margin-top:70px;
    background-size: cover;
}
.escala .blo{
    width: 150px;
    height:150px;
    margin:10px;
    background:;
    float: left;
    margin-top:70px;
    background-size: cover;
}
.escala .moneda:hover{
  transform:rotateY(360deg);
  transition:1s;
}

.escala #clim{
margin-left: 40px;
background-image: url(clim.png);
background-repeat:no-repeat;
background-size: cover;
float: left;
margin-left: 60px;
background-position: center;
}

#clim:hover{
  background-image: url(clim1.png);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}
.escala #climg{
margin-left: 40px;
background-image: url(climg.png);
background-repeat:no-repeat;
background-size: cover;
float: left;
margin-left: 60px;
background-position: center;
}
.blo h3{
  margin-top: 170px;
  color:grey;
}
.moneda h3{
  margin-top: 170px;
  color:#9CD1BA;
}
.flecha {
  width: 100%;
  height: 2px;
  background-color: #dadada;
  border: 0;
  margin-top:140px;

}
h5{
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  align-items:center;
  display:flex;
  justify-content: center;
  text-align: center;
  margin-top:10px;
  color:#9CD1BA;
}

.equipo{
  width: 1425px;
  height: 600px;
  margin:0 auto;
  margin-top: 90px;
  background:pink;

}
/*------------------------------PIE DE PAGINA--------------------------*/
.pie{
  width: 100%;
  height: 250px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size:12px;
  margin-top: 90px;
  background: white;
}
.logopie{
  background-image: url(climby.png);
  background-repeat:no-repeat;
  background-size: cover;
  width: 113px;
  height: 94px;
  margin-left:5px;
  margin:0 auto;
  background:;
}
}
/*-----------------------------*/
@media screen and (max-width:749px){
  body{
    background:white;
  }

  }

}
