@media screen and (max-width:750px){
  body{
    padding: 0;
    margin: 0;
    background:#9CD1BA ;
    display:flex;
    flex-direction:column;
    min-height:100vh;
  }
  #preloader{
    background:#9CD1BA url(images/loader.png) no-repeat center center;
    background-size:30%;
    height:100%;
    width:100%;
    position:fixed;
    z-index:100;
  }
/*----------video y calendario----------------*/
  .vica{
    width: 100%;
    height: 40px;
    list-style: none;
    display:Flex;
    justify-content:  space-between;
    background:;
  }

  .flecha{
    float:left;
    list-style: none;
  }

  .flecha li a{
    text-decoration: none;
    color:black;
    display:block;
  }

  .calendario{
    float:right;
    margin-right: 30px;
    list-style: none;
  }

  .calendario li a{
    text-decoration: none;
    color:black;
    display:block;
  }
  /*---------CATEGORIAS----------------*/

  .reptes{
    width: 400px;
    height: 600px;
    margin:0 auto;
    background:;
  }
  .climby{
    width: 90px;
    height: 80px;
    margin:0 auto;
    background:#9CD1BA url(images/loader.png) no-repeat center center;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
  }
  .reptes .retos{
    width: 170px;
    height: 145px;
    margin:0 auto;
    background: blue;
    margin-top:10px;
    margin-left:15px;
    float: left;
    border-radius: 20px;
    box-shadow: 10px 5px 5px grey;
  }

.retos #uno{

}
  h1{
    font-family:'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
    margin:10px 10px 10px 10px;
  }
/*----------menu fijo----------------*/
  .menu{
    list-style: none;
    display:Flex;
    justify-content:  space-around;
    background: white;
    margin-top:auto;
  }

  .menu li a{
    text-decoration: none;
    color:black;
    padding:15px;
    display:block;
    margin-left: -45px;
  }

  .menu li a:hover{
    background:pink;
  }
}
