
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {

    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:medium;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    background-color: #CCC;
    text-align: center;
}



h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

#head {
    height: 80px;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    z-index:2000;
    background-image: url("img/");
    background-color: #9dd1bc;
    background-size: auto 80%;
    background-repeat: no-repeat;
}

#content {
    background-color: #FFF;
    position: absolute;
    bottom: 60px;
    top:80px;
    left: 0;
    right: 0;
    z-index:500;
    overflow:auto;
    padding:10px;

}

#content a {
    display:block;

}

.short {
    display:block;
    height:100px;
    width:auto;
    margin: 30px auto 5px auto;
}

.long {
    display:block;
    height:50px;
    width:auto;
    margin: 30px auto 5px auto;
}

#foot {
    height: 60px;
    background-image: url(img/mSchools.png);
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-color: #9dd1bc;
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    z-index:1000;

}
